@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Manrope&family=Plus+Jakarta+Sans:wght@500&family=Poppins:wght@300&family=REM:wght@300&family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  html,body{
    overflow-x:hidden;
  }
:root{
    --light-blue: #666CA3;
    --thick-blue: #13183F;
    --gray: #BDBDBD;
    --white: #FFFFFF;
    --thick-rose:#FFA3C7;
    --bg-gradient: linear-gradient(#FFFFFF, #F0F1FF);
}
body{
    background-image:var(--bg-gradient);
    padding: 0rem 1rem 1rem 1rem; 
}
.header-img{
    padding:1.5rem 1rem 0rem 0.1rem;
} 
.header-img img{
    height:1.2rem;
}
.header-btn button{
    background-color: var(--thick-blue);
    color:var(--white);
    border-style:solid;
    padding:1rem 1.7rem ;
    border-width:0;
    border-radius:2rem;
    font-weight: 1000;
    margin:0.5rem;
}
.header-wrap{
    display: flex;
    justify-content:space-between;
}
h1{
    color:var(--thick-blue);
    padding:1rem 1rem 2rem 0.1rem;
    font-size:1.6rem;
}
h2{
    padding:1rem 1rem 1rem 0.1rem;
    color:var(--gray);
    font-weight: 400;
    font-size:0.9rem;
    margin-top:-2rem;
    line-height:1.7rem;
}
.main-btn button{
    border-radius:2rem;
    padding:1rem 1.9rem;
    border:none;
    color:var(--white);
    font-weight: 1000;
    background-image:linear-gradient(#FF6F48, #F02AA6);
}
.main-btn{
    position: relative;
    left:0.1rem;
}
.main-img img{
    height:110vw;
}
.main-img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:1rem;
}
.main-heading{
    padding:1.5rem;
    background-image:linear-gradient(#FF6F48, #F02AA6);
    border:none;
    color:var(--white);
    font-weight:1000;
    font-size:1.1rem;
    border-radius:0.5rem;
}
.animation-wrap,.design-wrap,.photography-wrap,.crypto-wrap,.business-wrap{
    padding:1rem;
    background-color:var(--white);
    border-radius:1rem;
}
.animation-heading,.design-heading,.photography-heading,.crypto-heading,.business-heading{
    color:var(--thick-blue);
    font-weight:1000;
    font-size:1.1rem;
}
.animation-content,.design-content,.photography-content,.crypto-content,.business-content{
    color: var(--gray);
    font-size:0.9rem;
    line-height:1.8rem;
}
.animation-link,.design-link,.photography-link,.business-link,.crypto-link{
    color:var(--thick-rose);
    font-size:0.9rem;
}
.animation-img img,.design-img img,.photography-img img,.crypto-img img,.business-img img{
    height:3rem;
    position: relative;
    top:-2.5rem;
}
.animation-summary,.design-summary,.photography-summary,.crypto-summary,.business-summary{
    position: relative;
    top:-1.5rem;
}
.footer-heading{
    font-size:1.5rem;
    padding:1rem 1rem 1rem 0.1rem;
    font-weight:1000; 
    color:var(--white);
}
.footer-btn button{
    border-radius:2rem;
    padding:1rem 1.5rem;
    border:none;
    color:var(--white);
    font-weight: 1000;
    position: relative;
    right:0.2rem;
    background-image:linear-gradient(#4851FF, #F02AA6);
}
.footer-wrap{
    display: flex;
    justify-content: space-between;
    padding:1.5rem;
    background-color: #13183F;
    width:100vw;
    position: relative;
    right:1rem;
}
.main-imgs{
    display:none;}
/* meadia qurey for tablet devices*/
@media (min-width:750px) {
    .main-img{
        display: none;
    }
    .main-imgs{
        display:block;
        position:relative;
        top:-10rem;
        z-index:-1;
    }
    .main-imgs img{
        height:40rem;
    }
    .content-one,.content-two,.content-three{
        display:flex;
        gap:2rem;
        justify-content:center;
    }
        .wrapper{
        display: flex;
        justify-content: space-between;
    }
    h1{
        font-size:2rem;
        padding:2rem;
    }
    h2{
        font-size:1.1rem;
        padding:2rem;
    }
    .header-img{
        padding:1rem 1rem 0rem 2rem;
    } 
    .main-heading{
        font-size:1rem;
    }
    .main-heading{
        width:25rem;
    }
    .animation-wrap,.design-wrap,.photography-wrap,.crypto-wrap,.business-wrap{
        width:25rem;
    }
    .main-btn{
        left:1.2rem;}}
/* meadia qurey for laptops devices*/
@media (min-width:950px) {
    .main-imgs{
        left:-1rem;
        top:-10rem;
    }
    h1{
        font-size:3rem;
        padding:4rem;
    }
    h2{
        padding:4rem;
        margin-top:-6rem;
    }
    .main-btn{
        left:4rem;
    }
    .main-imgs img{
        height:50rem;
    }
    .header-img{
        padding:1rem 1rem 0rem 4rem;
    } 
    .main-heading{
        width:40rem;
    }
    .animation-wrap,.design-wrap,.photography-wrap,.crypto-wrap,.business-wrap{
        width:40rem;}}
/* meadia qurey for desktop devices*/
@media (min-width:1300px){
    .main-imgs{
        left:20rem;
        top:-10rem;}}
@media (min-width:1700px){
    h1{
        font-size:3.5rem;
        padding:10rem;
    }
    .header-btn button{
     font-size:1rem;
    }
    h2{
        padding:10rem;
        margin-top:-18rem;
    }
    .header-img img{
    height:2rem;
    }
    .main-btn{
        left:10rem;
        margin-top:-6rem;
    }
    .main-btn button{
        font-size:1rem;
    }
    .main-heading{
        font-size:2rem;
    }
    .header-img{
        padding:1rem 1rem 0rem 10rem;
    } 
    .animation-heading,.design-heading,.photography-heading,.crypto-heading,.business-heading{
        font-size:1.5rem;
    }
    .animation-content,.design-content,.photography-content,.crypto-content,.business-content{
       
        font-size:1rem;
    }
    .animation-link,.design-link,.photography-link,.business-link,.crypto-link{
        
        font-size:1.1rem;
    }
    .animation-wrap,.design-wrap,.photography-wrap,.crypto-wrap,.business-wrap{
        padding:1.5rem;
    }
    .footer-heading{
        font-size:2rem;
    }
    .footer-btn button{
        font-size:1rem;}}
/* End Of Css COde.... */